{% extends 'base.html' %}

<head>
  {% block head %}
  <!-- <center><a class="display-4 text-center" id="logo">BOMBERMON</a><center> -->
  {% endblock %}
</head>
{% block body %}
<body>

  <div id = "game">

    <br><center><canvas id ="canvas" width ="1050" height="550"></canvas><br>
      <center>
	<script src="../static/scripts.js"></script>

	<div class="container">
	  <div class="row">
	    <div class="col-sm">
	      <div class="card text-white bg-dark mb-3" style="width: 18rem;">
		<div class="card-header">
		  <b>Player 1</b>
		</div>
		<ul class="list-group list-group-flush">
		  <li class="list-group-item text-dark bg-light" id="p1hp">Cras justo odio</li>
		  <li class="list-group-item text-dark bg-light">Dapibus ac facilisis in</li>
		  <li class="list-group-item text-dark bg-light">Vestibulum at eros</li>
		</ul>
	      </div>
	    </div>
	    <div class="col-sm">
	      <div class="card text-white bg-dark mb-3" style="width: 18rem;">
		<div class="card-header">
		  <b>Player 2</b>
		</div>
		<ul class="list-group list-group-flush">
		  <li class="list-group-item text-dark bg-light" id="p2hp">Cras justo odio</li>
		  <li class="list-group-item text-dark bg-light">Dapibus ac facilisis in</li>
		  <li class="list-group-item text-dark bg-light">Vestibulum at eros</li>
		</ul>
	      </div>
	    </div>
	  </div>
	</div>


  <div id="sidepanel">
  	<p id="stat"></p>
  	<div id="effect"> Weather: {{effect}} </div>
  </div>

  <form action="/leaders" method="POST">
    <input id="win" name="win" type="hidden">
    <input type="submit" value="See Leaderboard">
  </form>


</body>

{% endblock %}

{% block logout %}
<br><center><a href = '/start'>Back</a></center>
<center><a href = '/logout'>Log Out</a></center>
{% endblock %}

{% block footer %}
{% endblock %}
</div>
