{% extends 'base.html' %}

  <head>
    {% block head %}
      <!-- <center><a class="display-4 text-center" id="logo">BOMBERMON</a><center> -->
    {% endblock %}
  </head>
  {% block body %}
  <body>
  <div id = "game">
  <br><center><canvas id ="canvas" width ="1050" height="550" style="border:1px solid black;"></canvas>
  <center>
  <script src="../static/scripts.js"></script>
  <p id="stat"></p>
  <div id="effect"> Weather: {{effect}} </div>
  </div>
</body>

{% endblock %}

{% block logout %}
  <br><center><a href = '/start'>Back</a></center>
  <center><a href = '/logout'>Log Out</a></center>
{% endblock %}

{% block footer %}
{% endblock %}
