{% extends 'base.html' %}
{% block body %}
<center>
    <br><h2>Choose your bombermon:</h2><br>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href="/game">
              <img src="{{url_for('static', filename='bulbasaur.png')}}" width=50%/>
          </a>
        </div>
        <div class="col-sm">
          <a href="/game">
              <img src="{{url_for('static', filename='charmander.png')}}" width=50%/>
          </a>
        </div>
        <div class="col-sm">
          <a href="/game">
              <img src="{{url_for('static', filename='squirtle.png')}}" width=50%/>
          </a>
        </div>
      </div>
    </div><br>
    <br>
    <a href = '/'>Back</a>
</center>

{% endblock %}
