{% extends 'base.html' %}
{% block body %}
<center>
    <br><h2>Choose your bombermon:</h2><br>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href="https://google.com/">
              <img src="{{url_for('static', filename='bulbasaur.png')}}"/>
          </a>
        </div>
        <div class="col-sm">
          <a href="https://google.com/">
              <img src="{{url_for('static', filename='charmander.png')}}"/>
          </a>
        </div>
        <div class="col-lg">
          <a href="https://google.com/">
              <img src="{{url_for('static', filename='squirtle.png')}}"/>
          </a>
        </div>
      </div>
    </div><br>
    <br>

    <a href = '/game'>Start</a><br>
    <a href = '/'>Back</a>
</center>

{% endblock %}


